a {
  color: pink;
}
header {
  width: 100vw;
  background-color: paleturquoise;
  padding: 5vh 0;
}

a:hover {
  color: hotpink;
}

nav a {
  border-right: 1px solid black;
  padding: 0 10vw;
}

nav a:last-child {
  border-right: none;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: palevioletred;
}
